[submodule "3pp/cppjieba"]
	path = 3pp/cppjieba
	url = git@github.com:NorwayLobster/cppjieba.git
[submodule "3pp/simhash"]
	path = 3pp/simhash
	url = git@github.com:NorwayLobster/simhash.git
[submodule "3pp/bloomfilter"]
	path = 3pp/bloomfilter
	url = git@github.com:NorwayLobster/bloomfilter.git
